@font-face {
  font-family: 'CircularStd';
  src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}